<mat-card class="inline-block" fxFlexAlign="stretch">
    <mat-card-header>
        <mat-card-title> {{columna.Columna1}} </mat-card-title>
        <mat-card-subtitle> {{columna.Columna2}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna3}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna4}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna5}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna6}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna7}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna8}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna9}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna10}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna11}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna12}} </mat-card-subtitle>
        <mat-card-subtitle> {{columna.Columna13}} </mat-card-subtitle>


    </mat-card-header>

</mat-card>
