

<div class="flex flex-column">

    <h1>Log In to Continue</h1>

    <span class="text-lg mb-4"></span>

    <mat-form-field>
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Your username" #input1>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Your password" #input2>
    </mat-form-field>

    <button mat-button mat-flat-button color="primary" (click)="getUser(input2.value)">
        Enter
    </button>

    <button mat-button mat-flat-button color="primary" (click)="getUserArduino()">
        Enter with Arduino
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/sign">Need an account?</a>
    </div>


</div>